<div class="flex-container">
	<div class="nav">
		<ul>
		  <li><%= link_to "CONTACT", "/contacts/index" %></li>
		  <li><%= link_to "CLIENTS", "/clients/index" %></li>
		  <li><%= link_to "ABOUT", "/abouts/index" %></li>
		</ul>
	</div>

	<!-- <img src="http://res.cloudinary.com/estufas/image/upload/c_scale,w_1100/v1463352546/MN_Hilcom_Home_background_h1ojja.png"> -->

</div>

