// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$color_bright_sun_approx: #fbd13e;
$background_image: url(http://res.cloudinary.com/estufas/image/upload/c_scale,w_1200/v1463352546/MN_Hilcom_Home_background_h1ojja.png);


html, body {
	height: 100%;
  margin: 0;
    //background-image: $background_image;
    //background-size: 75% auto;
    //background-repeat: no-repeat;
    //background-position: center; 
}
//colors
$white: #fff;
$color_mine_shaft_approx: #333;

//fonts
$font_0: arial;
$font_1: helvetica;

h1 {
	font-size: 5em;
	font-family: $font_0, $font_1;
	color: $white;
	margin: 0;
}
.section {
	text-align: center;
}
.intro p {
	color: $white;
}
.fp-slidesNav.bottom {
	bottom: 25px;
}
#infoMenu li a {
	color: $white;
}
#section2 h1 {
	color: $color_mine_shaft_approx;
}

ul {
	list-style-type: none;
	//margin-left: 15%;
	//margin-right: 15%;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	overflow: hidden;
	background-color: $color_bright_sun_approx;
	font-family: 'Andale Mono', AndaleMono, monospace;
	text-decoration: none;
}
li {
	float: left;
	a {
		display: block;
		padding: 8px;
		text-decoration: none;
		color: black;
	}
}

.flex-container {
  padding: 0;
	background-image: $background_image;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center; 
  margin-left: 12%;
  margin-right: 17.5%;
  min-height: 100%; 
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
